#title{text-align:center;}
#show-data,#error-message{
	background:red;
	font-size:300%;
	vertical-align:center;
	text-align:center;
	cols="45"; 
	rows="50";
	color:blue;
}
#bkground{ 
position:fixed; 
top:0; 
left:0; 
bottom:0; 
right:0; 
z-index:-1; 
} 