<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first sys project</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/materialize.css') }}"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <script type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript"
            src="{{ url_for('static', filename='js/var-renderer.js') }}"></script>

    <script type="text/javascript">
        toc = {{ toc|tojson }};

        setInterval(getVars, 1000);
        function getVars() {
            $.ajax({
                type: "GET",
                url: $SCRIPT_ROOT + '/get_vars',
                dataType: "json",
                success: function (data) {
                    for (var name in data) {
                        if (data.hasOwnProperty(name)) {
                            renders[toc[name].view_type](name, data[name])
                        }
                    }
                },
                error: function (error) {
                    console.error('Error during GET')
                }
            });
        }

        function updateVar(name) {
            $.getJSON('/set_var', {name: $('#' + name).attr('value')},
                function (data) {
                    console.log(data)
                })
        }


    </script>

</head>

<body>

{% block body %}{% endblock %}


<script type="text/javascript"
        src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/materialize.js') }}"></script>
</body>
</html>