<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first sys project</title>

    <script type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript">
        setInterval(function () {
            getVars(updateImageAndInteger);
        }, 1000);

        toc = {a:{view_type:'plain'}};
        renders = {
            plain: function (name, value) {$('#'+name).text(value);}
        };

        function getVars(receivedCallback) {
            $.ajax({
                type: "GET",
                url: $SCRIPT_ROOT + '/get_vars',
                dataType: "json",
                success: receivedCallback,
                error: function (error) {
                    console.error('Error during GET')
                }
            });
        }

        function updateImageAndInteger(data) {
            console.log(data)
            for (var name in data){
                if (data.hasOwnProperty(name)) {
                    renders[toc[name].view_type](name, data[name])
                }
            }
        }

    </script>

</head>

<body>

{% block body %}{% endblock %}

</body>
</html>