{% extends "header.html" %}

{% block body %}

    {% macro plain_view(name) -%}
        <p id="{{ name }}"></p>
    {%- endmacro %}

    {% macro image_view(name) -%}
        <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=="
             id='{{ name }}' alt="Image var: {{ name }}"/>
    {%- endmacro %}


    {% for name, attrs in toc.iteritems() %}
        {{ name }} => {{ attrs }}
        {% if attrs.view_type == "plain" %}
            {{ plain_view(name) }}
        {% elif attrs.view_type == "image"%}
            {{ image_view(name) }}
        {% endif %}
    {% endfor %}

{#    <p id="a"></p>#}
{#    <p id="b"></p>#}
{#    <div id="error-message"></div>#}

{% endblock %}