{% extends "layout.html" %}

{% block image_zone %}

    <div class="container">

        <div class="card">
            <div class="card-image z-depth-2" id="show-img"></div>
            
            {% for name, type in toc.iteritems() if type == 'img:jpg' %}
            <div class="card-image" id="var-{{ name }}"></div>
            {% endfor %}
            
        </div>

    </div>

{% endblock %}

{% block var_zone %}

    <ul class="collection">

    <li class="collection-item" id="show-data"></li>

    {% for name, type in toc.iteritems() if type in ['plain'] %}
        <li class="collection-item" id="var-{{ name }}"> {{ name }}</li>
    {% endfor %}

    </ul>
{% endblock %}