{% extends "layout.html" %}
{% import "view_templates.html" as view_templates %}

{% block image_zone %}

    <div class="container">
        {% for name, attrs in toc.iteritems() if attrs.view_type == 'image' %}
            {{ view_templates.image_view(name) }}
        {% endfor %}
    </div>

{% endblock %}

{% block var_zone %}

    <ul class="collection">

    {% for name, attrs in toc.iteritems() %}
        {% if attrs.view_type == "plain_s" %}
            {{ view_templates.plain_s(name, attrs) }}
        {% elif attrs.view_type == "float_s" %}
            {{ view_templates.float_s(name, attrs) }}
        {% endif %}

    {% endfor %}

    </ul>
{% endblock %}