{% macro plain_s(name, attrs) -%}
    <li class="collection-item" id="{{ name }}">no data</li>
{%- endmacro %}

{% macro image_s(name, attrs) -%}
    <div class="card">
        <div class="card-image">
            <img id='{{ name }}' alt="Image var: {{ name }}"/>
        </div>
        <div class="card-title">{{ name }}</div>
    </div>
{%- endmacro %}

{% macro float_s(name, attrs) %}
    <li class="collection-item" id="{{ name }}">no data</li>
{% endmacro %}

{% macro plain_c(name, attrs) %}
    <div class="input-field">
        <input id="{{ name }}" type="text" value="{{ attrs.init }}"
               onkeypress="if(event.keyCode==13){updateVar('{{ name }}');return false;}">
        <label for="{{ name }}">{{ name }}</label>
    </div>
{% endmacro %}